/* css样式初始化 */
@import url('https://at.alicdn.com/t/font_3439785_g6c84c77la6.css?spm=a313x.7781069.1998910419.93&file=font_3439785_g6c84c77la6.css');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li,
ol {
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
}

/* 清除浮动 */
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: none;
  height: 0;
  line-height: 0;
}

.clearfix {
  *zoom: 1;
}