<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dao.MoviePlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xupt.pojo.MoviePlan">
        <id column="id" property="id"/>
        <result column="movie_start_time" property="movieStartTime"/>
        <result column="movie_end_time" property="movieEndTime"/>
        <result column="plan_date" property="planDate"/>
        <result column="cinema_movie_id" property="cinemaMovieId"/>
        <result column="hall_id" property="hallId"/>
        <result column="ticket_money" property="ticketMoney"/>
        <!--        <result column="cinema_id" property="cinemaId"/>-->
    </resultMap>
<select id="getMovieListByDate" resultType="com.xupt.pojo.MoviePlan">
    select * from movie_plan where movie_start_time > #{date1} and
            date_format(movie_start_time, '%Y-%m-%d %H:%i:%s') like concat(#{date2},'%')
</select>
</mapper>
