<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dao.MovieActorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xupt.pojo.MovieActor">
        <id column="id" property="id" />
        <result column="actor_picture" property="actorPicture" />
        <result column="movie_id" property="movieId" />
        <result column="actor_name" property="actorName" />
        <result column="role_name" property="roleName" />
    </resultMap>

</mapper>
