<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dao.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xupt.pojo.Users">
        <id column="uid" property="uid"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="head_url" property="headUrl"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <select id="getUserName" resultType="string">
        select username
        from users
        where uid = #{uid}
    </select>
    <select id="queryPasswordByPhoneNum" resultType="java.lang.String">
        select password
        from users
        where phone_num = #{phoneNum}
    </select>
</mapper>
